.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  cursor: pointer;
  width: 354px;
  height: 48px;
  border: 0px;

  &--primary {
    background: linear-gradient(
      0deg,
      #bd8430 -36698.48%,
      #d78732 -34668.35%,
      #d79d4a -33164.55%,
      #c07d2a -31134.42%,
      #bd8430 -29781%
    );
    box-shadow: -10px -10px 50px rgba(208, 173, 107, 0.1),
      10px 10px 50px rgba(208, 173, 107, 0.1);
  }

  &--secondary {
    background: #ffffff;
    box-shadow: 0px 6px 30px rgba(56, 56, 56, 0.05);
  }

  border-radius: 100px;
}
