// 1. colors
// brand
.prussian_blue {
  color: #00549b;
}
.carrot_orange {
  color: #f26e25;
}
.blue_lagoon {
  color: #004c70;
}
// primary
.blue1 {
  color: #1078ca;
}
.blue2 {
  color: #348cd2;
}
.blue3 {
  color: #58a1da;
}
.blue4 {
  color: #7cb5e2;
}
.blue5 {
  color: #9fc9ea;
}
.blue6 {
  color: #c3ddf2;
}
.blue7 {
  color: #e7f1fa;
}
.blue8 {
  color: #f6fbff;
}
// secondary
$orange1: #f36f21;
$orange2: #f58542;
$orange3: #f79a64;
$orange4: #f8b085;
$orange5: #fac5a6;
$orange6: #fcdbc7;
$orange7: #fef1e9;
// badges
$disabled: #bdbdbd;
$blue: #2394ee;
$green: #12b872;
$red: #e83939;
// button
$button_disabled: #e5e7e9;
$button_active: #f36f21;
// tab
$tab_disabled: #bdbdbd;
$tab_active: #f36f21;
// fonts
$font_color_primary: #333333;
$font_color_secondary: #4f4f4f;
$font_color_tertiary: #828282;
// monochrome
.mine_shaft {
  color: #333333;
}
$nepal: #849fbd;
$dusty_gray: #e1e4ea;
$cat_skill: #eef2f6;
$athens_gray: #f6f7f9;
.white {
  color: #ffffff;
}
// others
$carnation: #f75656;
$endeavor: #00529c;
$corn: #efb403;
$shamrock: #49d198;
$deep_sky_blue: #21d1ff;

.center {
  text-align: center;
}
