.container-bride-and-groom {
  background: url("/desktop/introduction/brideandgroom_background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1534px;
  min-height: 1534px;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
}

.frame-1240 {
  display: grid;
  width: 1240px;
}
