.section-card-maps-location {
  display: grid;
  grid-template-columns: 720px 488px;
  align-items: flex-start;
  align-content: flex-start;
  justify-items: flex-start;
  justify-content: flex-start;
  column-gap: 32px;
}
