.container-counting {
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
  }
  